{{ define "main" }}


<div class="divider">
    <div class="left">
        {{ if and (isset .Params "image") .Params.image }}
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "1000x" }}
        {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image" style="width:300px">` $thumb.RelPermalink
        .Title | safeHTML }}
        {{end}}
        {{ end }}
    </div>
    <div class="right">
        <h1>{{ .Page.Title }}</h1>
        <i>{{ .Page.Date | time.Format ":date_full" }}</i>

        <p>
            {{ .Content }}
        </p>


        <p>(c) ljvmiranda</p>
        // <a href="https://ljvmiranda.micro.blog">Micro</a>
        // <a href="https://ljvmiranda921.github.io">Website</a>
        // <a href="https://github.com/ljvmiranda921">Github</a>
    </div>
</div>

<style>
    @media (min-width: 768px) {
        .divider {
            display: flex;
        }
    }

    .left {
        flex: 0 0 30%;
        text-align: left;
        padding: 10px;
    }

    .right {
        flex: 1;
        padding: 10px;
    }
</style>

{{ template "_internal/disqus.html" . }}
{{ end }}