{{ define "main" }}

Taken from the original Gameboy Camera.


<h1>Photos</h1>

<div class="image-grid">
    {{ with .Site.GetPage "/" }}
    {{ range (sort .Data.Pages "Date" "desc")}}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "1000x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>

<style>
    .image-grid {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 1.25em;
        grid-template-columns: repeat(auto-fit,
                minmax(calc(var(--page-width) / 6), 1fr));
    }
</style>


{{ end }}
